tensorflow>=2.20
keras>=3.5
flask>=3.0
flask-socketio>=5.4
pandas
scikit-learn
matplotlib>=3.9
opencv-python
optuna
seaborn
tensorflow-datasets
alembic
sqlalchemy
aiohttp
requests
pillow
joblib
dataclasses-json
aio-pika
GPUtil
tabulate
